<div class="listinp-container">
  <h3>Add a movie to your <%= @list.name %> list</h3>
    <div class ="form-inside">
    <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :comment, placeholder: 'Enter a comment about the movie' %>
    <%= f.association :movie, prompt: 'Select a movie', input_html: { data: { controller: 'select2' } }%>
    <%= f.submit class: 'btn btn-outline-dark' %>
    <% end %>
    </div>
</div>
